.inputStatus {
  height: 1rem;
  width: 7rem;
  padding: 0.6rem;
}

.searchContainer {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.searchContainer > button {
  height: 2.3rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  background: var(--blue-500);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.searchContainer > button:hover {
  background-color: var(--blue-400);
}
