.containerBtn {
  display: flex;
  gap: 0.5rem;
}

.containerBtn > button {
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.btnEdit {
  background: var(--yellow-400);
}

.btnEdit:hover {
  background: var(--yellow-300);
}

.btnDelete {
  background: var(--red-400);
}

.btnDelete:hover {
  background: var(--red-300);
}
