body {
  background: var(--gunmetal-800);
}

.container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.container > h1 > span {
  position: absolute;
  cursor: pointer;
  margin-top: 0.125rem;
  margin-left: -2.187rem;
}
