.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.2rem;
  padding-right: 1.7rem;
  width: 100%;

  margin-bottom: 1rem;
  margin-top: -1rem;
  margin-left: -1rem;
  height: 3rem;
  background: var(--gunmetal-800);
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 23rem;
}

.container a {
  color: var(--gunmetal-200);
  height: 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container a:hover {
  color: var(--gunmetal-100);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.container > button {
  height: 2rem;
  width: 5rem;
  margin-right: -0.8rem;
  font-weight: 600;
  background: var(--blue-500);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.container > button:hover {
  background-color: var(--blue-400);
}

@media (max-width: 500px) {
  .container {
    padding-left: 0;
  }

  .container > button > span {
    display: none;
  }

  .container > button {
    width: 3rem;
  }

  .container > button > svg {
    font-size: 1.3rem;
  }
}
